

.contact-form {
    margin-top: 70px;
    h1 {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
    form {
        margin-top: 40px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "name"
                             "email"
                             "comments"
                             "button";
        gap: 20px;

        @include md {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "name email"
                                 "comments comments"
                                 "button empty";
        }
       
        .error {
            font-size: 0.9em;
            padding: 5px;
            border-color:#ff7373;
        }
        input,
        textarea {
            width: 100%;
            padding: 18px 20px;
            border: 1px solid rgba(112,112,112, 0.4);
        }

        textarea {
            height: 140px;
            resize: none;
        }
        button {
            grid-area: button;
            @include lg {
                width: 70%;
            }
        }
        .contact-form-name {
            grid-area: name;
        }

        .contact-form-email {
            grid-area: email;
        }
        .contact-form-comments {
            grid-area: comments;
        }
        .input-control input:focus {
            outline: 0;
        }
        
        .input-control.success input {
            border-color: #09c372;
        }
        
        .input-control.error input {
            border-color: #ff3860;
        }
        .input-control.success textarea {
            border-color: #09c372;
        }
        
        .input-control.error textarea {
            border-color: #ff3860;
        }
        #respons-contact{
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            color: $color-theme;

            @include md{
                justify-content: flex-start;
            }

        }
    


    }
    
}


