.footer{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-top: 1px solid $color-dark-3;
    padding: 4px 4px;
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
            
        a {
            color: $color-dark-2;
            padding: 5px;
            margin-top: 8px;
            &:hover,
            &.active {
                color: $color-theme;
                text-decoration: none;
            }  
        }

    }
    .copy-right{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-dark-3;
        text-decoration: none;
        font-weight: 500;
        font-size: medium;
        margin-bottom: 10px;
        margin-top: 4px;

            &:hover,
            &.active {
                color: $color-theme;
                text-decoration: none;
            }
    }

}